body {
	font-family: "Courier New";
	font-size: 14px;
	color: #444;
	background: #e6e6e6;
}

.wrap {
	margin: 50px 100px;
}

p {
	margin-bottom: 1.5em;
	line-height: 1.5;
	text-indent: 1em;
}

h1, h2 {
	font-family: geomanist, sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin-bottom: 45px;
}

h1 span {
	color: #aaa;
	display: block;
	width: 75%;
}

h2 {
	font-size: 1em;
	margin-bottom: 1em;
}

h2 .date {
	background: #46c6a5;
	padding: 0 1em;
	margin-right: 0.5em;
}

h3 {
	font-family: "Courier New", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

a:hover {
	background: #46c6a5;
	text-decoration: none;
}

img, iframe {
	max-width: 100%;
}

hr {
	height: 1px;
	border: none;
	background: #ccc;
	margin: 50px 0;
	width: 100%;
}

@media (min-width: 700px) {
	h1 span {
		width: 100%;
	}

	p {
		max-width: 650px;
	}
}

@media (min-width: 990px) {
	h1 span {
		display: inline;
		width: 75%;
	}

	hr { width: 75%; }
}

@media (min-width: 1250px) {
	hr { width: 50%; }
}



/*
.inner {
	margin: 50px;
}

h1, h2, h3, h4 {
	font-family: Geomanist, sans-serif;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	margin-bottom: 1em;
}

h1 { font-size: 2.5em; border-bottom: 1px solid #bbb; padding-bottom: 15px;}
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1em; }

h1 span, h2 span, h3 span, h4 span  {
	color: #bbb;
	text-transform: none;
	letter-spacing: 0.1em;
}

h1 span { font-size: 14px; }

p {
	padding: 0 50px;
	width: 50%;
	line-height: 1.5;
	margin-bottom: 1em;
}

p strong {
	font-weight: bold;
	color: #222;
}*/
