body {
	padding: 0px; 
	margin: 20px;
	overflow-x: hidden;
	background-color: #FEFBEA;  		
} 
/* #fff55e */

p{
	font-family: 'Merriweather', serif;
}

h1{
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 24pt;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 12pt;
}

#display_invention{
	
	position: relative;
	margin: 100 auto 0 auto;
	width: 600px;
	opacity: 0;
}

#display_loading{
	
	position: relative;
	margin: 100 auto 0 auto;
	width: 600px;
	opacity: 0;
}

#introduction{
	position: relative;
	margin: 200 auto 0 auto;
	width: 600px;
	height: 200px;
	opacity: 1;
	
}

#invent_button{
	margin: 100 auto 0 auto;
	background: black;
	width: 80px;
	padding: 10px;
	color: white;
	cursor: pointer;
}

#submit{
	margin-top: 50px;
	text-align: center;
	background: black;
	width: 100px;
	padding: 10px;
	color: white;
	cursor: pointer;
}
